<div class="container ">

    

    <div class="d-flex justify-content-around row row-cols-3 mt-5">
        <button  routerLink="/Admin/ShowAllProducts" class="card text-white  mb-3" style="max-width: 18rem;background-color: #5885AF;">
   
            <div class="card-body">
              <h5 class="card-title">Show All Products</h5>
              <img src="assets/images/allproducts.png" alt="pic" height=200px;>        </div>
          </button>
    
        <button routerLink="/Admin/ShowAllUser" class="card text-white mb-3" style="max-width: 18rem;background-color: #7da4ab;">
   
            <div class="card-body">
                <h5 class="card-title">Show Users</h5>
                <img src="assets/images/users.png" alt="pic" height=200px;>
            </div>
          </button>

        
    
    

    
      <button  routerLink="/Admin/AddProducts" class="card text-white mb-3" style="max-width: 18rem;background-color:#41729F">
   
        <div class="card-body">
          <h5 class="card-title">Add Products</h5>
          <img src="assets/images/addproduct.png" alt="pic" height=200px;>
        </div>
      </button>
     

      
      <button  routerLink="/Admin/UserBills" class="card text-white mb-3" style="max-width: 18rem;background-color: #277888;">
   
        <div class="card-body">
          <h5 class="card-title">Users Bills</h5>
          <img src="assets/images/userbills.png" alt="pic" height=200px;>
        </div>
      </button>


      <button routerLink="/" class="card text-white  mb-3" style="max-width: 18rem;background-color:#907626;">
   
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </button>
      <button routerLink="/" class="card text-white  mb-3" style="max-width: 18rem;background-color:#5b5656 ;">
   
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </button>
</div>


</div>